<div class="container">
<body>
    

    <main>
        <section class="shop-section">
            <h2>Body Parts</h2>
            <div class="categories">
                <div class="category">
                    <img src="./assets/images/spo1.png" alt="Tires">
                    <h3>Spoiler</h3>
                    <p>One of the best spoilers on the market.</p>
                    <button class="accordion-toggle" data-target="tires">750 Euros</button>
                </div>

                <div class="category">
                    <img src="./assets/images/lip_gotovo1.png" alt="Engine Parts">
                    <h3>Full Carbon Front Lip</h3>
                    <p>Maximize your car's aerodynamics with our front lip.</p>
                    <button class="accordion-toggle" data-target="engine-parts">450 Euros</button>
                </div>

                <div class="category">
                    <img src="./assets/images/lipende1.png"alt="Body Parts">
                    <h3>Rear Lip</h3>
                    <p>Improve your car's aerodynamics with our rear lip.</p>
                    <button class="accordion-toggle" data-target="body-parts">750 Euros</button>
                    
                </div>
            </div>
        </section>
    </main>

    
</body>
</div>

