<div class="container">
<body>
    

    <main>
        <section class="shop-section">
            <h2>Tires</h2>
            <div class="categories">
                <div class="category">
                    <img src="./assets/images/pirelli.webp" alt="Tires">
                    <h3>Pirelli P-Zero</h3>
                    <p>The best summer tire you can get.</p>
                    <button onclick="Cart.add({id: 1, name: 'Pirelli P-Zero', price: 330})" class="accordion-toggle" data-target="tires">330 Euros</button>
                </div>

                <div class="category">
                    <img src="./assets/images/guma1.jpg" alt="Engine Parts">
                    <h3>Continental SportContact</h3>
                    <p>Our recommendation in the medium high class.</p>
                    <button class="accordion-toggle" data-target="engine-parts">199 Euros</button>
                </div>

                <div class="category">
                    <img src="./assets/images/kumho.png" alt="Body Parts">
                    <h3>KUMHO Ecsta Sport PS72</h3>
                    <p>Our recommendation in the medium class.</p>
                    <button class="accordion-toggle" data-target="body-parts">130 Euros</button>
                    
                </div>
            </div>
        </section>
    </main>

    
</body>
</div>

