<div class="container">
<body>

    <header>
        <h1>CAR PARTS COMPANY</h1>
        <p>Your one-stop shop for car parts and accessories</p>
    </header>

    

    <!--<div class="main-content" id="main-content">
        <section id="home">
            <p>Cars are an essential part of modern life, providing mobility and convenience. A car is a complex machine, made up of thousands of parts working together to keep the vehicle running smoothly. From the engine to the tires, every part plays a crucial role in its performance, safety, and efficiency. Regular maintenance and replacing parts when necessary ensures that your car stays in optimal condition.</p>
        </section>

        <section id="weather">
            <h2>Weather Information</h2>
            <div id="weather-data"></div>
        </section>
    </div>-->

    
    
</body>
</div>

