<div class="container">
<body>
    

    <main>
        <section class="shop-section">
            <h2>Engine Parts</h2>
            <div class="categories">
                <div class="category">
                    <img src="./assets/images/turbo1.png" alt="Tires">
                    <h3>TurboCharger</h3>
                    <p>One of the turbochargers on the market up to 1500HP.</p>
                    <button class="accordion-toggle" id="btn-cart-turbo" data-target="tires">Add to cart: 1890 Euros</button>
                </div>

                <div class="category">
                    <img src="./assets/images/intake.png" alt="Engine Parts">
                    <h3>Turbo Intake System</h3>
                    <p>Maximize your turbocharger's efficiency.</p>
                    <button class="accordion-toggle" id="btn-cart-intake" data-target="engine-parts">Add to cart: 985 Euros</button>
                </div>

                <div class="category">
                    <img src="./assets/images/exh_adobe.png" alt="Body Parts">
                    <h3>Exhaust System</h3>
                    <p>Improve your turbo's performance with our exhaust system.</p>
                    <button class="accordion-toggle" id="btn-cart-exhaust" data-target="body-parts">Add to cart: 2750 Euros</button>
                    
                </div>
            </div>
        </section>
    </main>

    
</body>
</div>

