<div class="container">
<body>
    

    <main>
        <section class="shop-section">
            <h2>Shop Categories</h2>
            <div class="categories">
                <div class="category">
                    <img src="./assets/images/guma1.jpg" alt="Tires">
                    <h3>Tires</h3>
                    <p>High-performance tires for all vehicles.</p>
                    <a href="#gume">
                        <button class="accordion-toggle">View Tires</button>
                    </a>
                </div>

                <div class="category">
                    <img src="./assets/images/turbo1.png" alt="Engine Parts">
                    <h3>Engine Parts</h3>
                    <p>Durable engine components for reliable performance.</p>
                    <a href="#motor">
                        <button class="accordion-toggle">View Engine Parts</button>
                    </a>
                </div>

                <div class="category">
                    <img src="./assets/images/spo1.png" alt="Body Parts">
                    <h3>Body Parts</h3>
                    <p>Exterior and body parts to restore or upgrade your car.</p>
                    <a href="#body">
                        <button class="accordion-toggle">View Body Parts</button>
                    </a>
                </div>
            </div>
        </section>
    </main>

    
</body>
</div>

